/* GLOBAL STYLES */

* {
	box-sizing: border-box;
}

*:focus {
	outline: 2px dotted #de2e54;
	outline-offset: 2px;
}

/* fonts */

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.eot");
	src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans-Regular.woff2") format("woff2"),
		url("../fonts/OpenSans-Regular.woff") format("woff"),
		url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-SemiBold.eot");
	src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
		url("../fonts/OpenSans-SemiBold.woff") format("woff"),
		url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Bold.eot");
	src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans-Bold.woff2") format("woff2"),
		url("../fonts/OpenSans-Bold.woff") format("woff"),
		url("../fonts/OpenSans-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Condensed";
	src: url("../fonts/OpenSansCondensed-Regular.eot");
	src: url("../fonts/OpenSansCondensed-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/OpenSansCondensed-Regular.woff2") format("woff2"),
		url("../fonts/OpenSansCondensed-Regular.woff") format("woff"),
		url("../fonts/OpenSansCondensed-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Condensed";
	src: url("../fonts/OpenSansCondensed-Bold.eot");
	src: url("../fonts/OpenSansCondensed-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2"),
		url("../fonts/OpenSansCondensed-Bold.woff") format("woff"),
		url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* fonts
- Open sans 400, 600, 700
- Open sans Condensed 700
*/

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 150%;
	color: #444;
	background-color: #fff;
}

/* CONTAINER */
.container {
	width: 100%;
	max-width: 1160px;
	padding: 0 30px;
	margin-left: auto;
	margin-right: auto;
}

/* SITE-HEADER */
.site-header {
	padding: 24px 0;
}
.site-header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Site-log */
.site-logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: 600;
	font-size: 24px;
	line-height: auto;
	color: #222;
}

.site-logo:hover {
	color: #de2e54;
}

.site-logo:active {
	opacity: 0.6;
}
.site-logo-img {
	margin-right: 16px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.site-footer-logo {
	color: #fff;
}
.site-footer-logo:active {
	color: #fff;
}

/* Sitenav */

.sitenav {
	font-size: 14px;
	font-weight: bold;
	line-height: 150%;
	color: #222;
	text-transform: uppercase;
}

.sitenav-site-footer {
	color: #fff;
}

.sitenav-list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sitenav-item:not(:last-child) {
	margin-right: 32px;
}

.sitenav-link {
	display: block;
	color: inherit;
	text-decoration: none;
}

.sitenav-link:hover {
	color: #de2e54;
}

.sitenav-link:active {
	opacity: 0.6;
}

.sitenav-site-footer .sitenav-link:active {
  color: #fff;
}

/* Main link */

.main-link {
	display: inline-block;
	padding: 10px 22px;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 150%;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #de2e54;
	color: #fff;
	border-radius: 8px;
	border: 2px solid #de2e54;
}

.main-link:hover {
	background-color: #fff;
	color: #de2e54;
}
.main-link:active {
	background-color: #de2e54;
	color: #fff;
	opacity: 0.6;
}

/* SITE-FOOTER */
.site-footer {
	background-color: #222;
}

.site-footer-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
