/* GLOBAL STYLES */
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}

/* *:focus {
	outline: 2px dotted #de2e54;
	outline-offset: 2px;
} */

/* fonts */

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.eot");
	src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans-Regular.woff2") format("woff2"),
		url("../fonts/OpenSans-Regular.woff") format("woff"),
		url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-SemiBold.eot");
	src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
		url("../fonts/OpenSans-SemiBold.woff") format("woff"),
		url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Bold.eot");
	src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans-Bold.woff2") format("woff2"),
		url("../fonts/OpenSans-Bold.woff") format("woff"),
		url("../fonts/OpenSans-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Condensed";
	src: url("../fonts/OpenSansCondensed-Regular.eot");
	src: url("../fonts/OpenSansCondensed-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/OpenSansCondensed-Regular.woff2") format("woff2"),
		url("../fonts/OpenSansCondensed-Regular.woff") format("woff"),
		url("../fonts/OpenSansCondensed-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Condensed";
	src: url("../fonts/OpenSansCondensed-Bold.eot");
	src: url("../fonts/OpenSansCondensed-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2"),
		url("../fonts/OpenSansCondensed-Bold.woff") format("woff"),
		url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* fonts
- Open sans 400, 600, 700
- Open sans Condensed 700
*/

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 150%;
	color: #444;
	background-color: #fff;
}

/* CONTAINER */
.container {
	width: 100%;
	max-width: 1160px;
	padding: 0 30px;
	margin-left: auto;
	margin-right: auto;
}

/* SITE-HEADER */
.site-header {
	padding: 24px 0;
}
.site-header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Site-log */
.site-logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: 600;
	font-size: 24px;
	line-height: auto;
	color: #222;
}

.site-logo:hover {
	color: #de2e54;
}

.site-logo:active {
	opacity: 0.6;
}
.site-logo-img {
	margin-right: 16px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.site-footer-logo {
	color: #fff;
}
.site-footer-logo:active {
	color: #fff;
}

/* Sitenav */

.sitenav {
	font-size: 14px;
	font-weight: bold;
	line-height: 150%;
	color: #222;
	text-transform: uppercase;
}

.sitenav-site-footer {
	color: #fff;
}

.sitenav-list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sitenav-item:not(:last-child) {
	margin-right: 32px;
}

.sitenav-link {
	display: block;
	color: inherit;
	text-decoration: none;
}

.sitenav-link:hover {
	color: #de2e54;
}

.sitenav-link:active {
	opacity: 0.6;
}

.sitenav-site-footer .sitenav-link:active {
	color: #fff;
}

/* Main link */

.main-link {
	display: inline-block;
	padding: 10px 22px;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 150%;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #de2e54;
	color: #fff;
	border-radius: 8px;
	border: 2px solid #de2e54;
}

.main-link:hover {
	background-color: #fff;
	color: #de2e54;
}
.main-link:active {
	background-color: #de2e54;
	color: #fff;
	opacity: 0.6;
}

.main-link-solid:hover {
	background-color: rgba(222, 46, 84, 0.8);
	border-color: transparent;
	color: #fff;
}
.main-link-solid:active {
	background-color: rgba(222, 46, 84, 0.6);
	opacity: 1;
}

.main-link-outline {
	background-color: transparent;
	border-color: #fff;
}

.main-link-outline:hover {
	border-color: #de2e54;
	background-color: #de2e54;
	color: #fff;
}


/* HERO */
.hero {
	background-color: #0eb4c1;
	color: #fff;
}

.hero-container {
	display: flex;
	justify-content: space-between;
}

.hero-content {
	padding-top: 120px;
	padding-bottom: 120px;
	width: 500px;
}

.hero-heading {
	margin-top: 0;
	margin-bottom: 16px;
	font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
	font-size: bold;
	font-size: 36px;
	line-height: 120%;
}

.hero-text {
	width: 440px;
	margin-top: 0;
	margin-bottom: 36px;
	font-size: 18px;
	line-height: 150%;
}

.hero-img {
	align-self: flex-end;
}

/* INDEX-SERVICES */

.index-services {
	padding-top: 120px;
	padding-bottom: 120px;
}

.index-services-heading {
	text-align: center;
	margin-top: 0;
	margin-bottom: 56px;
	font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 120%;
	color: #000;
}

.index-services-list {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 864px;
	margin: 0 auto;
	margin-bottom: 60px;
}

.index-services-item:not(:last-child) {
	margin-bottom: 80px;
}

.index-service {
	display: flex;
	align-items: center;
}

.index-service-img {
	width: 200px;
	height: 200px;
	margin-right: 64px;
	object-fit: cover;
	box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
	border-radius: 24px;
}

.index-service-content {
	width: 600px;
}

.index-service-title {
	margin-top: 0;
	margin-bottom: 24px;
	font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 120%;
	color: #222;
}

.index-service-description {
	color: #444;
	margin: 0;
}

.index-services-actions {
	text-align: center;
}

/* Cta */
.cta {
	padding: 64px 0;
	background-color: #0eb4c1;
	color: #fff;
}

/* SITE-FOOTER */
.site-footer {
	background-color: #222;
	padding: 24px 0;
}

.cta-heading {
	margin-top: 0;
	margin-bottom: 40px;
	font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height: 120%;
	text-align: center;
}
.cta-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cta-links a:not(:last-child) {
	margin-right: 40px;
}

.site-footer-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
